.main {
    display: flex;
    flex-direction: column;
    width: 300px;
}

.player {
    width: 300px;
    background-color: #eee;
    border-radius: 5px;
    box-shadow: 2px 2px rgba(#000, 0.1);
    overflow: hidden;

    & svg {
        color: #2196f3;
    }

    & .sound_wave {
        width: 100%;
        height: 60px;
        margin: 0;
    }

    & .progress_line {
        margin-top: -4px;
        height: 4px;
        background-color: #bbb;
    }

    & .progress {
        height: 100%;
        background-color: #2196f3;
        transition: width 0.1s;
    }

    & .control {
        margin: 10px;
        display: flex;
        justify-content: space-around;
    }

    & .volume_slider {
        width: 100px;
        transform: translateY(50%);
    }
}

.audio {
    display: none;
}